<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.risepu.ftk.web.b.shiro"/>
    <!--cookie配置-->
    <bean id="rememberCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!--一个月有效期-->
        <property name="maxAge" value="2592000"/>
        <property name="httpOnly" value="true"/>
        <property name="name" value="rememberMe"/>
    </bean>
    <!--记住我管理器-->
    <bean id="rememberManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberCookie"/>
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>
    </bean>

    <!--1.配置安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="realm" ref="myRealm"/>
        <property name="rememberMeManager" ref="rememberManager"/>
    </bean>
    <!--2.配置缓存管理器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>
    <!--3.配置自定义的realm-->
    <bean id="myRealm" class="com.risepu.ftk.web.b.shiro.MyRealm"/>

    <!--配置生命周期管理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--配置安全管理器-->
        <property name="securityManager" ref="securityManager"/>
        <!--配置登录的url-->
        <property name="loginUrl" value="/api/org"/>
        <!--登录成功的url-->
        <property name="successUrl" value="/api/org/loginSuccess"/>

        <property name="filters">
            <map>
                <entry key="authc" value-ref="myAuthenticationFilter"/>
            </map>
        </property>

        <property name="filterChainDefinitions">
            <value>
                /favicon.ico = anon
                /api/org = authc
                /** = anon
            </value>
        </property>
    </bean>

    <bean id="myAuthenticationFilter" class="com.risepu.ftk.web.b.shiro.MyAuthenticationFilter"/>
</beans>