<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="net.lc4ever.framework.remote.HessianProxyAutoImporter">
		<property name="basePackages" value="com.risepu.ftk.server.service" />
		<property name="baseUri" value="${core.server}/remoting/" />
		<property name="mask" value="255" />
	</bean>

</beans>
